@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'koodak';
        src: url('/fonts/KoodakBold.eot?#') format('eot'),
            url('/fonts/KoodakBold.ttf') format('truetype'),
            url('/fonts/KoodakBold.woff') format('woff');
    }

    @font-face {
        font-family: 'yekan';
        src: url('/fonts/Yekan.eot?#') format('eot'),
            url('/fonts/Yekan.ttf') format('truetype'),
            url('/fonts/Yekan.woff') format('woff');
    }

    @font-face {
        font-family: 'nazanin';
        src: url('/fonts/Nazanin.eot') format('eot'),
            url('/fonts/Nazanin.ttf') format('truetype'),
            url('/fonts/Nazanin.woff') format('woff');
    }

    @font-face {
        font-family: 'gandom';
        src: url('/fonts/Gandom.eot') format('eot'),
            url('/fonts/Gandom.ttf') format('truetype'),
            url('/fonts/Gandom.woff') format('woff');
    }

    body {
        direction: rtl;
        font-family: 'koodak';

    }

    * {
        direction: inherit;
        font-family: inherit;

    }
}


@layer components {
    .container {
        @apply w-full px-4 sm:px-0 sm:w-[90%] md:w-[80%] mx-auto
    }

    .button {
        /* @apply flex justify-center min-w-32 bg-backGround-gold pt-1 pb-2 text-white text-[0.9rem] font-bold rounded-sm */
        @apply flex justify-center bg-backGround-gold py-1 text-white text-[0.9rem] font-bold rounded-sm
    }
}






.sidebar__label {
    display: inline-block;
    width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 40;
}

.sidebar__input {
    display: none;
}



.sidebar__btn {
    width: 2rem;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: all 0.4s;
    padding-bottom: -1rem;
}

.sidebar__btn::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: -1rem;

    transition: all 0.4s;
    transform: translateY(5px);

}

.sidebar__btn::after {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 1rem;

    transition: all 0.4s;
    transform: translateY(-5px);
}


.sidebar__input:checked+.sidebar__label .sidebar__btn {
    height: 0;
}

.sidebar__input:checked+.sidebar__label .sidebar__btn::before {
    top: 0;
    transform: rotate(-45deg);
}

.sidebar__input:checked+.sidebar__label .sidebar__btn::after {
    top: 0;
    transform: rotate(45deg);
}

.sidebar__input:checked~.list {
    opacity: 1;
    width: 50%;
    visibility: visible;
    z-index: 35;
    transform: translate(-50%, -50%);
}


.sidebar__bg {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    background-color: #101d2c;
    transform: scale(0);
    transition: width 0.6s, height 0.6s, transform 0.4s;
}



.sidebar__input:checked~.sidebar__bg {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transform: scale(1);
    z-index: 30;
}

.sidebar__input:checked~.sidebar__bg .list {
    z-index: 10000;
    margin-top: 9rem;
    transition: all 0.7s ease;

}


.header {
    background-image: linear-gradient(#101d2cef,
            #101d2cef),
        url("/img/gal-4.jpeg");
    background-size: cover;
    background-position: center;


}

.line {
    overflow: hidden;
    width: 100%;
    white-space: noWrap;
    border-color: #a6a6aa;

    display: flex;
    align-items: center;
    justify-content: center;
}

.line::before {
    content: '';
    display: inline-block;
    width: 45%;
    height: 1px;

    margin-right: 20px;
    background-color: #a6a6aa;



}



.line::after {
    content: '';
    display: inline-block;
    width: 45%;
    height: 1px;
    background-color: #a6a6aa;

    margin-left: 20px;




}


.story__pictures {
    background-color: #c69963;
    grid-column: full-start / col-end 4;

    background-image: linear-gradient(to left, #c699637e, #b2855180),
        url(/img/back.jpg);
    background-size: cover;
    background-position: center;
/* 
    display: grid;
    grid-template-rows: repeat(6, [row-start] 1fr [row-end]);
    grid-template-columns: repeat(6, [col-start] 1fr [col--end]); */
    /* align-items: center; */
}